body{
    margin: 0;
    padding: 0;
    background-color: #EAEAEA;
}

.post{
width: 50vw;
border: 1px solid black;
margin: auto;
background-color: white;
margin-bottom: 40px;


}

header{
    background-color: white;
}

img{
    width: 100%;
    object-fit: cover;
    
}

h1{
    width: 50vw;
    margin: auto;
    margin-bottom: 20px;
}

.titulo *{
    display: inline-block;
}
h2{
    width: 90%;
    padding-left: 10px;

}
.parrafo p{
    padding:10px;
}

.imagen{
    width: 70%;
    height: 70%;
    margin: auto;
    
}

