body{
    font-size: 20px;
}

.Contenedor{
    width: 600px;
    height: 400px;
    border: 1px solid red;;
}

img{
    float: right;
    margin-top: 25px;
}

.parrafo{
    border: 1px solid red;
    width: 50%;
    display: inline-block;
}

.inputs{
    width: 49%;
    border: 1px solid red;
    float: right;
    text-align: center;
}

input{
    margin-top: 10px;
    margin-bottom: 15px;
    border: 0px;
    border-bottom: 1px solid black;
    font-size: 20px;;
}

img{
    width: 49px;
    height: 50px;
}

h1{
    display: inline-block;
}

button{
    width: auto;
}








