*{
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.contenedor{
    width: 48vw;
    height: 90vh;
    margin: auto;
    border: 1px solid black;
}

header{
height: 10%;
}

.puntos{
    float: right;
    font-size: 25px;
    padding-top: 20px;
    margin-right: 10px;
}

.titulo{
    margin-left: 20px;
    display: inline-block;
    padding-top: 10px;
}

.icon{
    font-size: 30px;
    position: relative;
    bottom: 10px;
}

#espe{
    font-weight: 700;
}


main{
    height: 60%;
    object-fit: cover;
    
}

footer{
    height: 20%;
}

img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;    
}

.fa-bookmark{
    float: right;
}

.opcion{
    margin: 10px;
}

.opcion *{
    margin-right: 10px;
}

span{
    font-weight: 700;
}

.parrafo{
    margin: 0 10px 10px;
    
}


